.form__form fieldset{
    text-align: left;
    border-width: 1px;
    border-color: black;
}

.form__input {
    width: 40%;
    height: 24px;
    font: caption;
    border-width: 1px;
    border-color: black;
}

.form__btn {
    float: right;
    width: 10%;
    height: 24px;
    border-width: 1px;
    border-color: black;
    margin-top: 3px;
}