.form fieldset{
    border-width: 1px;
    border-color: black;
}

.form__input {
    width: 200px;
    height: 24px;
    font: caption;
    border-width: 1px;
    border-color: black;
}

.form__btn {
    width: 60px;
    height: 30px;
    margin-top: 6px;
    margin-left: 6px;
}