.menu__item {
  text-align: right;
}

.menu__link {
  float: left;
}

.remove-button {
  font-size: 110%;
  color: darkred;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding-right: 25px;
}

